# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\evslo\OneDrive - al.infnet.edu.br\Estudos\Bootcamps\Kotlin\Desafios\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
